.nav-container a{
    margin-left: 10px;
    font-size: 20px;
    border: 1px solid goldenrod;
    border-radius: 6px;
    padding: 8px 20px;
}
.nav-container{
    margin-top: 20px;
   text-align: center;
}